<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>AICO</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/mainpost.css">
  <script src="../js/main.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
  <script src="http://code.jquery.com/jquery-latest.js"></script> 
  <script>
    $(document).ready(function(){
      $("#header").load("/html/header.html");
    });
  </script>
</head>

<body>
  <div id="header"></div>
  <div class="title">AICO</div>
  <div class="sub_title">AI create objet</div>
  
  <!-- 생성하는 페이지로 이동버튼 -->
  <a href="generate" onclick="return true;">
    <button type="button" class="goto_create">start create</button>
  </a>

  <!-- 검색하는 부분 _ 일단 구글 검색되게 함_이후에 데베 정보 찾는거로 바꾸기 -->
  <!-- <form class="search_box" action="https://www.google.com/search" method="GET">
    <img class="search_icon" src="search_icon.svg" alt="">
    <input name="q" class="search_txt" type="text" placeholder="Search for an image">
    <button class="search_btn" type="submit">Search</button>
  </form> -->

  <!-- 생성한 이미지 보이는 부분 -->
  <div class="main_img_box">
    {% for twit in twits %}
    <img src="{{twit.img}}" alt="" class="picture">
    {% endfor %}
  </div>

  <!-- 팝업창 -->
  <!-- <div id="popup_bg" class="popup_bg">
    <img class="close" src="close_btn.svg" onclick="closePopup()">
    <div id="popup" class="img_click_box">
      <div class="img_and_next_btn">
        <button class="left_btn lr_btn" onclick="alert('L클릭!')">
          <img src="left_btn.svg" alt="">
        </button>
        <img src="pic3.jpg" alt="" class="clicked_img">
        <button class="right_btn lr_btn" onclick="alert('R클릭!')">
          <img src="right_btn.svg" alt="">
        </button>
      </div>
      <div class="like_down_box">
        <img class="img_click_icon white_heart" src="white_heart.svg" id="{{twit.id}}_heart" alt="" onclick="changeHeart('{{twit.id}}_heart');">
        <img class="img_click_icon download_img" src="download_img.svg" alt="" onclick="imgDownload('{{twit.img}}','{{twit.img}}')">
      </div>
      <div class="generate_txt_box">
        <img class="writer_icon" src="profile_circle.svg">
        <div class="generate_txt_style">
          <p>
            내용입니다.내용입니다.내용입니다. <br>
            #몽환적인 #몽환적인
          </p>
        </div>
      </div>
      <div class="copy_btn_box">
        <button class="copy_btn" onclick="alert('복사')">Copy prompt</button>
      </div>
  
    </div>
  </div> -->
  
</body>

<!-- {% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
    document.querySelectorAll('.twit-follow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });
  </script>
{% endblock %} -->