#account {
  outline: 2px solid #22A39F99;
}

#mypage {
  outline: none;
}

#history {
  outline: none;
}

#post {
  outline: none;
}

#likes {
  outline: none;
}

#comments {
  outline: none;
}

#mypage:hover{
  outline: 2px solid #22A39F99;
}

#history:hover{
  outline: 2px solid #22A39F99;
}

#post:hover{
  outline: 2px solid #22A39F99;
}

#likes:hover{
  outline: 2px solid #22A39F99;
}

#comments:hover{
  outline: 2px solid #22A39F99;
}

.user_modify {
  margin-top: 30px;
}

.title {
  margin-top: 50px;
  font-weight: 800;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.15em;
}

.sub_title {
  margin-top: 25px;
}

.signup_form {
  margin-top: 40px;
  background: rgba(89, 89, 89, 0.6);
  border: 1px solid #F3EFE0;
  border-radius: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 23px;
}

.signup_name_input_box {
  width: 90%;
}

.user_nick {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  text-align: start;
}

.user_name_text {
  /* margin-top: 32px; */
  border: 1px solid rgba(243, 239, 224, 0.3);
  border-radius: 15px;
  /* width: 100%; */
  width: 90%;
  height: 39px;
  padding: 0px 10px 0px 10px;
  line-height: 39px;
}

.user_id_input_box {
  width: 90%;
  margin-top: 32px;
}
 
.user_password_input_box {
  width: 90%;
  margin-top: 32px;
}

.input_box {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  color: #F3EFE0;
  background-color: #434242;
  border: 1px solid rgba(243, 239, 224, 0.3);
  border-radius: 15px;
  width: 100%;
  height: 39px;
  padding: 0px 10px 0px 10px;
}

.guide_text {
  text-align: left;
  margin-bottom: 10px;
}

.user_btn {
  /* background-color: bisque; */
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

.submit_btn {
  cursor: pointer;
  margin-right: 10%;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  color: #F3EFE0;
  background-color: #434242;
  border: 1px solid rgba(243, 239, 224, 0.3);
  border-radius: 15px;
  width: 35%;
  height: 35px;
}

/* .btn {
  background: #22A39F;
  color: #434242;
  box-shadow: 0px 0px 4px #595959;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  height: 39px;
  width: 100%;
} */

/* pc용 css */
@media all and (min-width:1032px) {
body {
  height: 1500px;
}

.title {
  margin-top: 100px;
}

.signup_form {
  width: 496px;
  margin: 45px auto;
  padding: 32px 23px 50px 23px;
}
}
