#comments {
  outline: 2px solid #22A39F99;
}

#mypage {
  outline: none;
}

#history {
  outline: none;
}

#post {
  outline: none;
}

#likes {
  outline: none;
}

#mypage:hover{
  outline: 2px solid #22A39F99;
}

#history:hover{
  outline: 2px solid #22A39F99;
}

#post:hover{
  outline: 2px solid #22A39F99;
}

#likes:hover{
  outline: 2px solid #22A39F99;
}