#history {
  outline: 2px solid #22A39F99;
}

#mypage {
  outline: none;
}

#likes {
  outline: none;
}

#post {
  outline: none;
}

#comments {
  outline: none;
}

#account {
  outline: none;
}

#account:hover{
  outline: 2px solid #22A39F99;
}

#mypage:hover{
  outline: 2px solid #22A39F99;
}

#likes:hover{
  outline: 2px solid #22A39F99;
}

#post:hover{
  outline: 2px solid #22A39F99;
}

#comments:hover{
  outline: 2px solid #22A39F99;
}



