body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #434242;
  color: #F3EFE0;
  text-align: center;
  height: 1000px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* 드래그 막기 */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

/* a {
  text-decoration: none;
  color: #F3EFE0;
} */

.title {
  margin-top: 50px;
  font-weight: 800;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.15em;
}

.sub_title {
  margin-top: 25px;
}

.goto_create {
  cursor: pointer;
  margin-top: 35px;
  width: 279px;
  height: 45px;

  font-family: 'NanumGothic';
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.15em;

  color: #F3EFE0;
  background: #434242;
  border: 1px solid #F3EFE0;
  border-radius: 25px;
  /* background-color: #22A39F; */
}

.search_box {
  width: 80%;
  height: 45px;
  background: #595959;
  border-radius: 25px;
  
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
}

.search_icon {
  width: 5%;
  padding: 0.6em;
  /* border-radius: 25px; */
  /* background-color: teal; */
}

.search_txt {
  border: none;
  /* margin-left: 10px; */
  overflow: auto;
  background: transparent;
  color: #F3EFE0;
  width: 70%;
}

.search_txt:focus {
  outline: none;
}

.search_btn {
  cursor: pointer;
  width: 20%;
  margin-left: 0.3em;
  color: #F3EFE0;
  background: #22A39F;
  border: none;
  border-radius: 25px;
}

.main_img_box {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}


.four_img {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 2%;
  /* padding: 10px; */
}

.picture {
  width: 23%;
  margin: auto;
}

/* pc용 css */
@media all and (min-width:1032px) {
body {
  height: 1500px;
}

.title {
  margin-top: 100px;
}

.search_box {
  width: 496px;
  margin: 45px auto;
  
}

.signup_btn_box {
  width: 520px;
  margin: -20px auto;
}

.main_img_box {
  width: 80%;
  margin: 45px auto;
}
}
