<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>AICO_share</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="../css/share2.css">
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> -->
  <script src="../js/share2.js"></script>
  <script src="../js/post.js"></script>
  <link rel="stylesheet" href="../css/write2.css">
  <script src="../js/write2.js"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script> 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#header").load("/html/header.html");
    });
  </script>
</head>
<body>
  <div id="header"></div>
  <div class="profile_">
    <input id="my-id" type="hidden" value="{{user.id}}">
  </div>
  
  <form id="twit-form" action="/post" method="post" class="write_form" enctype="multipart/form-data">
    <!-- 이미지 파일을 입력할 수 있는 부분 -->
    <div class="generate_img_input_box">
      <input class="text_box img_file_show" id="choose_file" placeholder="파일이름" readonly>
      <div class="file_delete">
        <a onclick="deleteFile()" class="file_delete_btn" id="file_delete_btn">
          <img src="delete_btn.svg" alt="">
        </a>
      </div>
      <div class="img_input_btn_box">
        <label for="img" class="imp_input_btn">+ Upload image</label>
      </div>
      <div class="img-preview">
        <img class="preview" id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
        <input id="img-url" type="hidden" name="url">
      </div>
      <div>
        <input id="img" type="file" accept="image/*">
      </div>
      <!-- <input id="img" type="file" accept="image/*">
      <img class="preview" id="img-preview" src=""> -->
    </div>

    <hr class="mid_line">

    <!-- 게시글 입력 부분 -->
    <div class="write_post_box">
      <div class="input-group">
        <textarea name="content" id="twit" rows="1" class="text_box post_txt" placeholder="사과를 먹는 곰돌이" maxlength='500' onkeyup="textareaSize()" onkeydown="textareaSize()"></textarea>
      </div>
      <div class="post_btn">
        <button id="twit-btn" type="submit" class="btn">upload</button>
      </div>
    </div>

  </form>

  <!-- 검색 부분 -->
  <!-- <div class="search_box"> -->
    <!-- 일단 구글 검색되게 함_이후에 데베 정보 찾는거로 바꾸기 -->
    <!-- <form class="search_form" action="https://www.google.com/search" method="GET">
      <img class="search_icon" src="search_icon.svg" alt="">
      <input name="q" class="search_txt" type="text" placeholder="Search for an image">
      <button class="search_btn" type="submit">Search</button>
    </form>
  </div> -->

  <div class="search_box">
    <form class="search_form" id="hashtag-form" action="/hashtag">
      <img class="search_icon" src="search_icon.svg" alt="">
      <input class="search_txt" type="text" name="hashtag" placeholder="Search for an image">
      <button class="search_btn">Search</button>
    </form>
  </div>

  <!-- 정렬 버튼 -->
  <div class="sort_write_box">
    <!-- <div class="sort_btn">
      <button class="dropbtn" onclick="dropdown()">
        <span class="dropbtn_content">정렬 </span>
        <span class="dropbtn_click"><img src="sort_dropdown_btn.svg" alt=""></span>
      </button>
      정렬할 기준
      <div class="dropdown-content">
        <div class="sort_by" onclick="showMenu(this.innerText)">날짜</div>
        <div class="sort_by" onclick="showMenu(this.innerText)">좋아요</div>
      </div>
    </div> -->
    <div class="wirte_btn">
      <div class="write" onClick="showWrite()">글쓰기 <img src="share_write_btn.svg" alt=""></div>
    </div>
  </div>
  
  <!-- 게시물 전체 부분 -->
  <div class="share_list_box">
    <!-- 게시물 4개(한 줄) 묶음 -->
    <div class="four_contents">
      {% for twit in twits %}
      <!-- 개별 게시물 _ class명 card-->
      <div class="card">
        <div class="card_profile_box">
          <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
          <input type="hidden" value="{{twit.id}}" class="twit-id">

          <!-- 작성자의 프로필 이미지 -->
          <div class="profile_img">
            <a href="#"><img src="profile_circle.svg" alt="프로필"></a>
          </div>

          <!-- 작성자 이름 -->
          <div class="prifile_name">
            <a href="#"><h3>{{twit.User.nick}}</h3></a>
          </div>

          {% if not followingIdList.includes(twit.User.id) and twit.User.id !== user.id %}
            <button class="twit-follow">팔로우</button>
          {% elif followingIdList.includes(twit.User.id) and twit.User.id !== user.id %}
            <button class="twit-unfollow">팔로우끊기</button>
          {% endif %}
          
        </div>

        <!-- 게시하는 이미지 -->
        {% if twit.img %}
        <div class="twit-img">
        <img src="{{twit.img}}" id="preview" class="card-img-top" alt="." onclick="showPopup();">
      </div>
      <!-- <div class="twit-img"><img src="{{twit.img}}" ></div> -->
        {% endif %}
        <!-- <img class="preview" id="preview" src="{{twit.img}}"> -->
        <!-- 아이콘 및 게시글 미리보이는 부분 -->
        <div class="card-body">
          <div class="card_icons_box">
            <div class="card_icons">
              <img class="card_icon white_heart" src="white_heart.svg" id="{{twit.id}}_heart" alt="" onclick="changeHeart('{{twit.id}}_heart');">
              <img class="card_icon download_img" src="download_img.svg" alt="">
              <img class="card_icon comment_icon" src="comment_icon.svg" alt="">
            </div>
          </div>

          <div class="card_text_box">
            <p class="card_text">{{twit.content}}</p> 
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</body>


{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            console.log(res)
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
    document.querySelectorAll('.twit-follow').forEach(function(tag) {
      console.log('성공')
      tag.addEventListener('click', function() { //클릭시 변경
        const myId = document.querySelector('#my-id'); //#id 접근 layout 24줄 {{user.id}}값의 id
        console.log(myId)
        if (myId) {
          console.log('성공3')
          console.log(tag.parentNode)
          const userId = tag.parentNode.querySelector('.twit-user-id').value; //.class 접근
          console.log(userId)
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });
    document.querySelectorAll('.twit-unfollow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉 끊으시겠습니까?')) {
              axios.post(`/user/${userId}/unfollow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });

    document.querySelectorAll('.like').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        const twitId = tag.parentNode.querySelector('.twit-id').value;
        if (myId) {
              axios.post(`/post/${twitId}/like`) //트윗 아이디 가져와서 좋아요 요청 보냄
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
        }
      });
    });
    document.querySelectorAll('.unlike').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        const twitId = tag.parentNode.querySelector('.twit-id').value;
        if (myId) {
              axios.delete(`/post/${twitId}/like`) //트윗 아이디 가져와서 좋아요 요청 보냄
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
        }
      });
    });
    document.querySelectorAll('.delete').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        const twitId = tag.parentNode.querySelector('.twit-id').value;
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId === myId.value) {
            if (confirm('게시글을 삭제하시겠습니까?')) {
              axios.delete(`/post/${twitId}`) //트윗 아이디 가져와서 좋아요 요청 보냄
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });
  </script>
{% endblock %} 